HF_TOKEN=your token
VLLM_API_KEY=local-test-key

# ===== 模型 =====
MODEL_NAME=openai/gpt-oss-20b
#MODEL_NAME=meta-llama/Llama-3.1-8B-Instruct
#MODEL_NAME=google/gemma-4-E4B-it

# ===== GPU / 記憶體 =====
GPU_COUNT=1
GPU_MEMORY_UTIL=0.90

# ===== 推理設定 =====
#MAX_MODEL_LEN=2048
MAX_MODEL_LEN=4096
MAX_NUM_SEQS=1
DTYPE=auto